# CRITEO SPONSORED SEARCH CONVERSION LOG DATASET

## WHAT IS THIS NOTEBOOK ABOUT

This notebook presents EDA (Exploratory Data Analysis), elements of feature engineering and correlation test of the "CRITEO SPONSORED SEARCH CONVERSION LOG DATASET"

## CONTENTS

1. INTRODUCTION
2. EXPLORATORY DATA ANALYSIS
3. TESTING HYPOTHESES
4. FEATURE ENGINEERING
5. STATISTICAL TESTING OF DESCRIBING FEATURES
6. COMPETITION METRIC
7. SUMMARY
8. LITERATURE

# 1. INTRODUCTION

## DESCRIPTION OF THE DATASET

Criteo Sponsored Search Conversion Log Dataset contains logs obtained from Criteo Predictive Search. \
Each row in the dataset represents an action performed by the user on a product related advertisement. 

### Data description

- Sale : Indicates 1 if conversion occurred and 0 if not.
- SalesAmountInEuro : Indicates the revenue obtained when a conversion took place. This might be different from product-price, due to attribution issues. It is -1, when no conversion took place.
- Time_delay_for_conversion : This indicates the time between click and conversion. It is -1, when no conversion took place.

- click_timestamp: Timestamp of the click. The dataset is sorted according to timestamp.
- nb_clicks_1week: Number of clicks the product related advertisement has received in the last 1 week.
- product_price: Price of the product shown in the advertisement.
- product_age_group: The intended user age group of the user, the product is made for.
- device_type: This indicates whether it is a returning user or a new user on mobile, tablet or desktop. 
- audience_id:  We do not disclose the meaning of this feature.
- product_gender: The intended gender of the user, the product is made for.
- product_brand: Categorical feature about the brand of the product.
- product_category(1-7): Categorical features associated to the product. We do not disclose the meaning of these features.
- product_country: Country in which the product is sold.
- product_id: Unique identifier associated with every product.
- product_title: Hashed title of the product.
- partner_id: Unique identifier associated with the seller of the product.
- user_id: Unique identifier associated with every user.

**All categorical features have been hashed**, **-1 is the missing value indicator**

For more information about the dataset head over to https://ailab.criteo.com/criteo-sponsored-search-conversion-log-dataset/

## IMPORTS FOR THE NOTEBOOK

In [1]:
import os
import numpy as np
import pandas as pd

from sklearn.decomposition import PCA
from sklearn.preprocessing import LabelEncoder

from matplotlib import pyplot as plt
import seaborn as sns


%matplotlib inline

## CONSTANTS
Constants that will be used later in the notebook

In [2]:
PARTNER_ID = 'BD01BAFAE73CF38C403978BBB458300C'

ALL_COLUMN_NAMES = ['Sale', 'SalesAmountInEuro', 'time_delay_for_conversion', 'click_timestamp',
                    'nb_clicks_1week', 'product_price', 'product_age_group', 'device_type',
                    'product_gender', 'product_brand','product_category(1)', 'product_category(2)',
                    'product_category(3)', 'product_category(4)','product_category(5)',
                    'product_category(6)', 'product_category(7)', 'product_country', 'product_id',
                    'product_title', 'partner_id', 'user_id']

OBJECT_TYPE_COLUMN_NAMES = ['product_age_group', 'device_type','audience_id', 'product_gender', 'product_brand',
                       'product_category(1)', 'product_category(2)', 'product_category(3)', 'product_category(4)',
                       'product_category(5)', 'product_category(6)', 'product_category(7)',
                       'product_country', 'product_id', 'product_title', 'user_id']

## CREATE CSV - CHOOSE THE PARTNER_ID

The analysis will be performed only for one of many *partner_id* from the dataset. Because the dataset can be considered a big data source, we will create a csv file containing only the information related to chosen ` PARTNER_ID `. Reading the *CriteoSearchData* in chunks we will filter out the rows which interest us.

**WARNING** \
If you already have csv file containing the data, you can skip this step.

In [9]:
df = pd.DataFrame()
for chunk in pd.read_csv("CriteoSearchData", names=ALL_COLUMN_NAMES, sep='\t', low_memory=False, chunksize=100_000):
    filtered_chunk = chunk[chunk['partner_id'] == PARTNER_ID]
    df = pd.concat([df, filtered_chunk])

df.to_csv(f"CriteoSearchData_{PARTNER_ID}.csv")

## READ CSV

In [3]:
filepath = f"CriteoSearchData_{PARTNER_ID}.csv"

if os.path.isfile(filepath):
    df_raw = pd.read_csv(f"CriteoSearchData_{PARTNER_ID}.csv", low_memory=False, usecols=ALL_COLUMN_NAMES)
else:
    print('Sorry. You have to create an appropriate csv file first.')

# drop partner_id column -> same for every row
df_raw.drop(labels='partner_id', inplace=True, axis=1)

Before performing EDA, let's preprocess the data - handle NaNs and hashed values.

First of all let's change all the `-1` values in the dataset to `np.NaN` to a indicate missing value.

## PREPROCESSING

In [4]:
df_nans = df_raw.replace('-1', np.NaN)
df_nans.replace(-1, np.NaN, inplace=True)
df_nans.head()

,Sale,SalesAmountInEuro,time_delay_for_conversion,click_timestamp,nb_clicks_1week,product_price,product_age_group,device_type,product_gender,product_brand,...,product_category(2),product_category(3),product_category(4),product_category(5),product_category(6),product_category(7),product_country,product_id,product_title,user_id
0,0,NaN,NaN,1598925284,0.0,0.0,4C90FD52FC53D2C1C205844CB69575AB,D7D1FB49049702BF6338894757E0D959,1B491180398E2F0390E6A588B3BCE291,3CE3D1623D32FB2A901822910AF72A0B,...,CD599E5A946D00A81A875E085F7EF1E8,NaN,NaN,NaN,NaN,NaN,57A1D462A03BD076E029CF9310C11FC5,4C6C62203B4CE5AA6DFCF17F2604DC37,3CE3D1623D32FB2A901822910AF72A0B C83584C673752...,D0EBCD4402172AE3AA6FD21FB77BDE84
1,0,NaN,NaN,1598918451,0.0,0.0,4C90FD52FC53D2C1C205844CB69575AB,D7D1FB49049702BF6338894757E0D959,1B491180398E2F0390E6A588B3BCE291,321C82C284BFC5F9D004E32EBEE462BB,...,CD599E5A946D00A81A875E085F7EF1E8,NaN,NaN,NaN,NaN,NaN,57A1D462A03BD076E029CF9310C11FC5,C2D84B4DE610350B73A8A3DA6E2D0386,C83584C67375245584CEBF5DCE5BEE2D 355AE5E66602C...,B5EFEEB5D9029A869FCB029016DE19AD
2,0,NaN,NaN,1598929821,8.0,0.0,4C90FD52FC53D2C1C205844CB69575AB,7E56C27BFF0305E788DA55A029EC4988,C45A9AC6D102ACAEEDF0D6F78636D84A,CCF1305ACD83048CC410F4A7A064E03C,...,CD599E5A946D00A81A875E085F7EF1E8,NaN,NaN,NaN,NaN,NaN,57A1D462A03BD076E029CF9310C11FC5,5F3D4BDE66E181048D0381476A7B84F7,FB6C8ED382D3EF96E794F2D63C251E0B AA907525367F6...,7F2FBFC1CAFAE576A7414C48C2B46B05
3,0,NaN,NaN,1598934884,1.0,0.0,4C90FD52FC53D2C1C205844CB69575AB,7E56C27BFF0305E788DA55A029EC4988,C45A9AC6D102ACAEEDF0D6F78636D84A,18A6FC1837890100EDE2095B185B2CA0,...,77FFC91A6157E50A0A114135F18BB1DB,2E4ED2B95CEF7FD11B282CDFDD56CEA0,NaN,NaN,NaN,NaN,57A1D462A03BD076E029CF9310C11FC5,97886AD67171240EED4487ED7C7CEFB1,3B3F1EFC68D245B766D311E45CD6B955 B88B3EC8972EB...,F4726A9A63129483D211711111DABE82
4,0,NaN,NaN,1598898855,0.0,0.0,4C90FD52FC53D2C1C205844CB69575AB,7E56C27BFF0305E788DA55A029EC4988,1B491180398E2F0390E6A588B3BCE291,493B88AC8225128B0F81F0F7199C0441,...,77FFC91A6157E50A0A114135F18BB1DB,C08050B58F54FA81F4580ECE15296698,067525A83E1875CB1828F4F9ADC752F6,NaN,NaN,NaN,57A1D462A03BD076E029CF9310C11FC5,84609A43AB113DFFA77536B4C3DBE376,493B88AC8225128B0F81F0F7199C0441 C83584C673752...,EAD901328DDDBAB9DD3112DC4DC1160C

In [5]:
df_nans_sale_1 = df_nans.query("Sale == 1")

df_nans_sale_1.head(3)

,Sale,SalesAmountInEuro,time_delay_for_conversion,click_timestamp,nb_clicks_1week,product_price,product_age_group,device_type,product_gender,product_brand,...,product_category(2),product_category(3),product_category(4),product_category(5),product_category(6),product_category(7),product_country,product_id,product_title,user_id
7,1,119.0,457035.0,1598898651,19.0,119.0,4C90FD52FC53D2C1C205844CB69575AB,D7D1FB49049702BF6338894757E0D959,1B491180398E2F0390E6A588B3BCE291,EFF73087F003355BCA94C76DC3D3C167,...,3DCF45B664023887F9F2DDA616853C50,555EE90CF6686FFF818AC7065AAB2773,NaN,NaN,NaN,NaN,57A1D462A03BD076E029CF9310C11FC5,8FC90755BEDEE269D93C74762BB98050,C83584C67375245584CEBF5DCE5BEE2D 4CAC88B2214CC...,F00C3CF902EA711CEF7725BA70975496
12,1,53.0,457.0,1598919368,3.0,53.0,921B36149E5B081FD24450BFE2CE4430,7E56C27BFF0305E788DA55A029EC4988,1B491180398E2F0390E6A588B3BCE291,B950F965E4A65379D1C33A15B0BB0FC4,...,CD599E5A946D00A81A875E085F7EF1E8,NaN,NaN,NaN,NaN,NaN,57A1D462A03BD076E029CF9310C11FC5,E6DE04B225277BCFDFABE346CBA3F3B6,778978F5CAC64EABEE0467CE76BC0CEC BBFC4AF224D2A...,9BB0A782C760A12F5D200295D596B164
35,1,178.0,101671.0,1598903859,0.0,89.0,4C90FD52FC53D2C1C205844CB69575AB,D7D1FB49049702BF6338894757E0D959,C45A9AC6D102ACAEEDF0D6F78636D84A,7518C9F80AEBF7CB4FE6038A0EE9ED4A,...,77FFC91A6157E50A0A114135F18BB1DB,8A30BF8BD2B3E9D44D2938D42C387D2E,NaN,NaN,NaN,NaN,57A1D462A03BD076E029CF9310C11FC5,218E5A741B5295FA6F638094B9C6CB48,9067248AB2A47A69ED6A6EC415733353 3DD5CA5D4ABE5...,63C0975E39531216371698EC0B371F65

Now let's handle the hashed values. First of all let's check datatypes of the columns of `df`

In [6]:
print(df_nans_sale_1.dtypes)
print('-'*30)
print(df_nans_sale_1.dtypes.value_counts())

Sale                           int64
SalesAmountInEuro            float64
time_delay_for_conversion    float64
click_timestamp                int64
nb_clicks_1week              float64
product_price                float64
product_age_group             object
device_type                   object
product_gender                object
product_brand                 object
product_category(1)           object
product_category(2)           object
product_category(3)           object
product_category(4)           object
product_category(5)           object
product_category(6)           object
product_category(7)          float64
product_country               object
product_id                    object
product_title                 object
user_id                       object
dtype: object
------------------------------
object     14
float64     5
int64       2
dtype: int64

Thanks to this summary we know now that 16 features have `object` type which means they have been hashed. We can simplify every column with `object` type. As long as they are hashed, we do not lose any valuable information (however we will store the original data in a dictionary `encoders`) and what is more - it will simplify the EDA of the dataset later. \
For example we will transform the `product_gender` column by assigning one number for each category. \
To achieve this we will use `LabelEncoder` from `sklearn.preprocessing` package.

In [7]:
df_nans_encoded = pd.DataFrame()
encoders = {}

for col in df_nans.columns:
    if col in OBJECT_TYPE_COLUMN_NAMES:
        encoder = LabelEncoder()
        # filter not null values from the column
        series_not_null = df_nans_sale_1[col][df_nans_sale_1[col].notnull()]
        # transform the values using LabelEncoder
        df_nans_encoded[col] = pd.Series(encoder.fit_transform(series_not_null), index=series_not_null.index)
        # save the encoder
        encoders[col] = encoder
    else:
        df_nans_encoded[col] = df_nans_sale_1[col]

df_nans_encoded.head(10)

,Sale,SalesAmountInEuro,time_delay_for_conversion,click_timestamp,nb_clicks_1week,product_price,product_age_group,device_type,product_gender,product_brand,...,product_category(2),product_category(3),product_category(4),product_category(5),product_category(6),product_category(7),product_country,product_id,product_title,user_id
7,1,119.0,457035.0,1598898651,19.0,119.0,0.0,1,0.0,852.0,...,3.0,15.0,NaN,NaN,NaN,NaN,0,1354,1412.0,2347
12,1,53.0,457.0,1598919368,3.0,53.0,2.0,0,0.0,659.0,...,13.0,NaN,NaN,NaN,NaN,NaN,0,2179,804.0,1520
35,1,178.0,101671.0,1598903859,0.0,89.0,0.0,1,2.0,396.0,...,6.0,27.0,NaN,NaN,NaN,NaN,0,317,1010.0,970
41,1,103.0,986.0,1598890694,1.0,103.0,0.0,1,0.0,10.0,...,6.0,36.0,1.0,NaN,NaN,NaN,0,1995,10.0,1416
52,1,173.0,585181.0,1598829047,305.0,173.0,1.0,1,2.0,855.0,...,13.0,NaN,NaN,NaN,NaN,NaN,0,2193,1796.0,2021
55,1,107.0,776964.0,1598820645,0.0,107.0,0.0,1,0.0,778.0,...,6.0,42.0,NaN,NaN,NaN,NaN,0,627,754.0,1352
67,1,680.0,1281755.0,1598851564,0.0,157.0,0.0,1,0.0,375.0,...,13.0,NaN,NaN,NaN,NaN,NaN,0,258,1261.0,1489
76,1,70.0,85063.0,1598823977,0.0,21.0,0.0,1,0.0,876.0,...,13.0,NaN,NaN,NaN,NaN,NaN,0,1321,1572.0,1283
86,1,94.0,712911.0,1598816362,0.0,44.0,0.0,1,2.0,372.0,...,13.0,NaN,NaN,NaN,NaN,NaN,0,254,363.0,157
106,1,34.0,3221.0,1597441520,2.0,34.0,0.0,0,0.0,218.0,...,13.0,NaN,NaN,NaN,NaN,NaN,0,396,436.0,1831

## CREATE FINAL DATASET

In [11]:
df_nans_encoded.click_timestamp = pd.to_datetime(df_nans_encoded.click_timestamp, unit='s', origin='unix')
df_nans_encoded['day'] = df_nans_encoded.click_timestamp.dt.date
df = df_nans_encoded.groupby(['day', 'product_id']).agg({'Sale' : 'size',
                                                         'SalesAmountInEuro': 'sum',
                                                         'time_delay_for_conversion': ['mean', 'median'],
                                                         'nb_clicks_1week': 'mean',
                                                         'product_price': ['sum', 'mean'],
                                                         'product_age_group': 'mean', 
                                                         'device_type': 'mean', 
                                                         'product_gender': 'mean',
                                                         'product_brand': 'mean', 
                                                         'product_category(1)': 'mean', 
                                                         'product_category(2)': 'mean', 
                                                         'product_category(3)': 'mean', 
                                                         'product_category(4)': 'mean', 
                                                         'product_category(5)': 'mean', 
                                                         'product_category(6)': 'mean', 
                                                         'product_category(7)': 'mean', 
                                                         'product_country': 'mean', 
                                                         'product_title': 'mean'})

df.reset_index(inplace=True)
df.columns = ['_'.join(temp).strip('_') for temp in df.columns.to_flat_index() ]
df.head(10)

,day,product_id,Sale_size,SalesAmountInEuro_sum,time_delay_for_conversion_mean,time_delay_for_conversion_median,nb_clicks_1week_mean,product_price_sum,product_price_mean,product_age_group_mean,...,product_brand_mean,product_category(1)_mean,product_category(2)_mean,product_category(3)_mean,product_category(4)_mean,product_category(5)_mean,product_category(6)_mean,product_category(7)_mean,product_country_mean,product_title_mean
0,2020-08-04,1068,2,580.0,57369.0,57369.0,0.0,290.0,145.0,0.0,...,343.0,0.0,13.0,NaN,NaN,NaN,NaN,NaN,0,1895.0
1,2020-08-04,2326,2,228.0,986.0,986.0,0.0,228.0,114.0,0.0,...,379.0,0.0,6.0,42.0,NaN,NaN,NaN,NaN,0,583.0
2,2020-08-05,19,2,254.0,105006.0,105006.0,3.0,254.0,127.0,1.0,...,343.0,0.0,13.0,NaN,NaN,NaN,NaN,NaN,0,260.0
3,2020-08-05,32,2,178.0,479.0,479.0,5.0,178.0,89.0,0.0,...,343.0,0.0,13.0,NaN,NaN,NaN,NaN,NaN,0,1038.0
4,2020-08-05,132,2,194.0,479925.0,479925.0,1.0,194.0,97.0,0.0,...,105.0,0.0,13.0,NaN,NaN,NaN,NaN,NaN,0,211.0
5,2020-08-05,580,2,380.0,1643.0,1643.0,26.0,380.0,190.0,0.0,...,343.0,0.0,13.0,NaN,NaN,NaN,NaN,NaN,0,357.0
6,2020-08-05,682,2,250.0,424.0,424.0,0.0,190.0,95.0,0.0,...,343.0,0.0,13.0,NaN,NaN,NaN,NaN,NaN,0,1304.0
7,2020-08-05,734,2,300.0,85069.0,85069.0,0.0,152.0,76.0,0.0,...,707.0,0.0,3.0,15.0,NaN,NaN,NaN,NaN,0,1328.0
8,2020-08-05,785,2,256.0,666.0,666.0,0.0,256.0,128.0,0.0,...,343.0,0.0,13.0,NaN,NaN,NaN,NaN,NaN,0,1377.0
9,2020-08-05,1074,2,222.0,969.0,969.0,0.0,222.0,111.0,1.0,...,791.0,0.0,13.0,NaN,NaN,NaN,NaN,NaN,0,192.0

In [14]:
len(df)

2642

# 2. EXPLORATORY DATA ANALYSIS

# 3. TESTING HYPOTHESES

# 4. FEATURE ENGINEERING

# 5. STATISTICAL TESTING OF DESCRIBING FEATURES

# 6. COMPETITION METRIC

# 7. SUMMARY